<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a routerLink="" class="navbar-brand"><img src="https://cdn3.vectorstock.com/i/1000x1000/99/17/blood-donation-hand-icon-vector-23319917.jpg" width="35px" heigth="35px"/>Blood Bank</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcontent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a routerLink="" routerLinkActive="active" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="#" routerLinkActive="active" class="nav-link"  *ngIf="isAuthenticated()">
                    <i class="material-icons" style="vertical-align: middle;">
                        person
                    </i>{{getUser()}}</a></li>
            <li class="nav-item"><a routerLink="login" routerLinkActive="active" class="nav-link"  *ngIf="!isAuthenticated()">Login</a></li>
            <li class="nav-item"><a routerLink="signUp" routerLinkActive="active" class="nav-link"  *ngIf="!isAuthenticated()">SignUp</a></li>
            <li class="nav-item"><a routerLink="faqs" routerLinkActive="active" class="nav-link">FAQ's</a></li>
            <li class="nav-item"><a routerLink="feedback" routerLinkActive="active" class="nav-link">Feedback</a></li>
            <li class="nav-item"><a routerLink="search" class="nav-link" *ngIf="isAuthenticated()">Search Blood Availablity</a></li>
            <li class="nav-item"><a routerLink="notifications" class="nav-link" *ngIf="isAuthenticated() && !isAdmin()"><i class="material-icons">
                notification_important
                </i></a></li>
            <li class="nav-item"><a routerLink="" class="nav-link" (click)="onSignOut()" *ngIf="isAuthenticated()">Logout</a></li>
        </ul>
    </div>
</nav> 