<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>SignUp Form</h1>
            <form [formGroup]="signUpForm" (submit)="onSubmitSignUp()">
                <div class="alert alert-danger" role="alert" *ngIf="userAlreadyExists">
                    Username is already exists
                </div>
                <!-- <div class="alert alert-warning" *ngIf="signUpForm.pending">
                    <div class="spinner-border">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" placeholder="Enter Username">
                    <div class="validation-error"
                        *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('required')">
                        Username is required
                    </div>
                    <div class="validation-error"
                        *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('pattern')">
                        Username should contains only Alphabets
                    </div>
                    <div class="validation-error"
                        *ngIf="signUpForm.get('username').touched && signUpForm.get('username').hasError('maxlength')">
                        Username should cantains 20 characters only
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control"
                                placeholder="Enter First Name">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('firstName').touched && signUpForm.get('firstName').hasError('required')">
                                First Name is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('firstName').touched && signUpForm.get('firstName').hasError('pattern')">
                                First Name should contains only Alphabets
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('firstName').touched && signUpForm.get('firstName').hasError('maxlength')">
                                First Name should cantains 50 characters only
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="username">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control"
                                placeholder="Enter Last Name">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('lastName').touched && signUpForm.get('lastName').hasError('required')">
                                Last Name is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('lastName').touched && signUpForm.get('lastName').hasError('pattern')">
                                Last Name should contains only Alphabets
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('lastName').touched && signUpForm.get('lastName').hasError('maxlength')">
                                Last Name should cantains 50 characters only
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="text" formControlName="age" class="form-control" placeholder="Enter Age">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('age').touched && signUpForm.get('age').hasError('required')">
                                Age is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('age').touched && signUpForm.get('age').hasError('pattern')">
                                Age should contains only Positive Numbers in between 1-99
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('age').touched && signUpForm.get('age').hasError('maxlength')">
                                Please Enter Valid Age
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender" formControlName="gender">
                                <option value="" Selected disabled>Please Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('gender').touched && signUpForm.get('gender').hasError('required')">
                                Gender is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="contactNumber">Contact Number</label>
                            <input type="text" formControlName="contactNumber" class="form-control"
                                placeholder="Enter Contact Number">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('contactNumber').touched && signUpForm.get('contactNumber').hasError('required')">
                                Contact Number is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('contactNumber').touched && signUpForm.get('contactNumber').hasError('pattern')">
                                Contact Number should contains only Number
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('contactNumber').touched && signUpForm.get('contactNumber').hasError('maxlength')">
                                Contact Number should contains 10 numbers only
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="Enter Email">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('email').touched && signUpForm.get('email').hasError('required')">
                                Email is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('email').touched && signUpForm.get('email').hasError('email')">
                                Please Enter Email Correctly
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control"
                                placeholder="Enter Password">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('password').touched && signUpForm.get('password').hasError('required')">
                                Password is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('password').touched && signUpForm.get('password').hasError('maxlength')">
                                Password can conatins only 10 Alphabets
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control"
                                placeholder="Enter Confirm Password">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('confirmPassword').touched && signUpForm.get('confirmPassword').hasError('required')">
                                Confirm Password is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('confirmPassword').touched && signUpForm.get('confirmPassword').hasError('nomatch')">
                                Confirm Password is not matched
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="weight">Weight</label>
                            <input type="text" formControlName="weight" class="form-control" placeholder="Enter Weight">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('weight').touched && signUpForm.get('weight').hasError('required')">
                                Weight is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('weight').touched && signUpForm.get('weight').hasError('pattern')">
                                Weight should contains only Positive Number
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="state">State</label>
                            <select class="form-control" id="state" formControlName="state" (change)="getCities()">
                                <option value="" Selected disabled>Please Select State</option>
                                <option *ngFor="let state of statesList" [ngValue]="state">
                                    {{state.name}}
                                </option>
                            </select>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('state').touched && signUpForm.get('state').hasError('required')">
                                State is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="cityDetails">Select City</label>
                            <select class="form-control" id="city" formControlName="city" (change)="getAreas()">
                                <option value="" Selected disabled>Please Select City</option>
                                <option *ngFor="let city of citiesList" [ngValue]="city">
                                    {{city.name}}
                                </option>
                            </select>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('city').touched && signUpForm.get('city').hasError('required')">
                                City is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('city').touched && !signUpForm.get('state').touched">
                                Please Select State First
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="area">Area</label>
                            <select class="form-control" id="area" formControlName="area">
                                <option value="" Selected disabled>Please Select Area</option>
                                <option *ngFor="let area of areaList" [ngValue]="area">
                                    {{area.name}}
                                </option>
                            </select>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('area').touched && signUpForm.get('area').hasError('required')">
                                Area is required
                            </div>
                            <div class="validation-error"
                                *ngIf="!signUpForm.get('city').touched && signUpForm.get('area').touched">
                                Please Select City First
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="pincode">PinCode</label>
                            <input type="text" formControlName="pincode" class="form-control"
                                placeholder="Enter Pincode">
                            <div class="validation-error"
                                *ngIf="signUpForm.get('pincode').touched && signUpForm.get('pincode').hasError('required')">
                                Pincode is required
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('pincode').touched && signUpForm.get('pincode').hasError('pattern')">
                                Pincode should contains only Number
                            </div>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('pincode').touched && signUpForm.get('pincode').hasError('maxlength')">
                                Pincode should contains 6 Numbers only
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label for="bloodGroup">Blood Group</label>
                            <select class="form-control" id="bloodGroup" formControlName="bloodGroup">
                                <option value="" Selected disabled>Please Select Blood Group</option>
                                <option *ngFor="let bloodGroup of bloodGroupList" [ngValue]="bloodGroup">
                                    {{bloodGroup.name}}
                                </option>
                            </select>
                            <div class="validation-error"
                                *ngIf="signUpForm.get('bloodGroup').touched && signUpForm.get('bloodGroup').hasError('required')">
                                Blood Group is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">Sign
                            Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>